/* For screens up to 500px */
.mobile-resp {
  display: none !important;
}
.nav-link :hover {
  color: #835f3c !important;
}
a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 15px;
    padding: -20px;
    display: flex;
    height: 62px !important;
  }

  .img4 {
    width: 32px !important;
    height: 32px !important;
    margin-bottom: -10px;
    margin-left: -20px !important;
  }

  .openbtn {
    position: relative;
    width: 42px;
    height: 40px;
    font-size: 25px !important;
    margin-bottom: -30px !important;
  }

  .download {
    position: flex !important;
    width: 65px !important;
    height: 30px !important;
    margin-top: 20px !important;
    margin-left: 20px !important;
    font-size: 12px !important;
  }
  .ww {
    margin-left: 30px !important;
  }

  .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row !important;
    justify-content: center;

    margin-left: -100px;
    margin-top: -15px;

    /* Center the list items horizontally */
  }

  .navbar-nav .nav-item {
    margin-right: 15px !important;
    padding: auto !important;
    /* Add spacing between list items */
  }

  .navbar-nav .nav-link {
    font-size: 18px !important;
    /* Reduce the font size */
    margin-top: 0;
    font-weight: 400 !important;
    position: flex;
    margin-left: -13px !important;
    /* Remove the top margin */
  }

  .home1 {
    position: relative;
  }

  .navbar-nav .nav-item:last-child {
    margin-right: 0;
    /* Remove margin from the last list item */
  }

  .dropdown-menu {
    margin-top: 13px;
    margin-left: -60px;
    position: fixed;
  }

  .sidepanel {
    height: 375px !important;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Stay on top */
    top: 0;
    left: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px !important;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.9s;
    /* 0.5 second transition effect to slide in the sidepanel */
  }
}

/* For screens between 500px and 800px */
@media screen and (min-width: 501px) and (max-width: 800px) {
  /* Define your styles for medium-sized screens here */
  /* For example: */
  .header {
    font-size: 20px;
    padding: -20px;
    display: flex;
    height: 75px !important;
  }

  .img4 {
    width: 35px !important;
    height: 35px !important;
    margin-bottom: -14px;
  }

  .openbtn {
    position: relative;
    width: 53px;
    height: 53px;
    font-size: 29px !important;
    margin-bottom: -10px !important;
    padding-top: -10px;
  }

  .download {
    position: relative;
    width: 106px !important;
    height: 50px !important;
    margin-top: 15px !important;
    font-size: 20px !important;
    margin-left: 13px !important;
  }

  .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    margin-left: -30px;
    margin-top: -10px;

    /* Center the list items horizontally */
  }

  .navbar-nav .nav-item {
    margin-right: 15px;
    /* Add spacing between list items */
  }

  .navbar-nav .nav-link {
    font-size: 20px !important;
    /* Reduce the font size */
    margin-top: 0;
    font-weight: 400 !important;
    position: flex;
    margin-left: -10px !important;
    /* Remove the top margin */
  }

  .home1 {
    position: relative;
  }

  .navbar-nav .nav-item:last-child {
    margin-right: 0;
    /* Remove margin from the last list item */
  }

  .dropdown-menu {
    margin-top: 13px;
    margin-left: -60px;
    position: fixed;
  }

  .sidepanel {
    height: auto !important;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Stay on top */
    top: 0;
    left: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px !important;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.9s;
    /* 0.5 second transition effect to slide in the sidepanel */
  }
  .nav-item {
    display: none;
  }

  .mobile-resp {
    display: block !important;
  }
}

/* For screens between 800px and 1500px */
@media screen and (min-width: 801px) and (max-width: 1100px) {
  .header {
    font-size: 23px;
    padding: -20px;
    display: flex;
    height: 85px !important;
  }

  .img4 {
    width: 42px !important;
    height: 42px !important;
    margin-bottom: -10px;
  }

  .openbtn {
    position: relative;
    width: 58px;
    height: 63px;
    font-size: 38px !important;
    margin-bottom: -10px !important;
    padding-top: -10px;
  }

  .download {
    position: relative;
    width: 120px !important;
    height: 60px !important;
    margin-top: 15px !important;
    margin-left: 50px !important;
  }

  .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    margin-left: -40px;
    margin-top: -5px;

    /* Center the list items horizontally */
  }

  .navbar-nav .nav-item {
    margin-right: 15px;
    /* Add spacing between list items */
  }

  .navbar-nav .nav-link {
    font-size: 24px !important;
    /* Reduce the font size */
    margin-top: 0;
    font-weight: 400 !important;
    position: flex;
    margin-left: -13px !important;
    /* Remove the top margin */
  }

  .home1 {
    position: relative;
  }

  .navbar-nav .nav-item:last-child {
    margin-right: 0;
    /* Remove margin from the last list item */
  }

  .dropdown-menu {
    margin-top: 13px;
    margin-left: -60px;
    position: fixed;
  }
}
.ww {
  margin-left: 35px;
}

.sidepanel {
  height: 620px;
  /* Specify a height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Stay on top */
  top: 0;
  left: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* side navbar */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-link.dropdown-toggle::after {
  display: none;
  /* Hide the dropdown icon */
}




.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(234, 239, 231, 0.9); */
  background-color: white;
  /* background: linear-gradient(to bottom, #006d74, #02904c); */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  font-weight: 500;
 
}

.circle {
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 50px);
  width: 110px;
  height: 110px;
  border: 3px solid transparent;
  border-bottom-color: rgb(74, 12, 206);
  border-radius: 50%;
  animation: circleAnimation 2s linear infinite;
}

.circle-reverse {
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 50px);
  width: 90px;
  height: 90px;
  border: 2px  solid transparent;
  border-bottom-color: rgb(163, 10, 140);
  /* border-bottom-color: #006D74; */
  border-radius: 50%;
  animation: circleAnimationReverse 2s linear infinite;
}

@keyframes circleAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes circleAnimationReverse {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* loaded */
/* loader-containe */

@media screen and (min-width: 250px) and (max-width: 501px) {
  .nav-item {
    display: none;
  }
  .download {
    margin-left: -20px !important;
    width: 80px !important;
  }
  .img4 {
    position: absolute !important;
    top: 45px !important;
    left: 80px;
  }
  .computer-resp {
    display: none;
  }

  .mobile-resp {
    display: block !important;
  }
  .sidepanel {
    height: auto !important;
  }
  .customclass {
    top: 75px !important;
  }
}


.row
{
  margin-right: 0px !important;
  margin-left: 0px !important;
}